<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fatigue Detection Assistant</title>
    <link rel="icon" type="image/x-icon" href="static/favicon.ico" />
    <link rel="stylesheet" href="static/css/styles.css" />
  </head>
  <body>
    <div id="app-container"></div>
    <script src="static/js/face-display.js"></script>
    <script>
      //Insert here code for requests
    </script>
  </body>
</html>
